<section class="bg-orange-gradient text-white relative">
  <!-- Middle Section -->
  <div class="container mx-auto px-4 py-24">
    <div class="grid md:grid-cols-2 gap-8 items-center">

      <!-- Image Column -->
      <div class="flex justify-center relative">
        <div
          class="absolute w-[400px] h-[400px] bg-purple-600 rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-0">
        </div>
        <img src="./../../../assets/images/phone.png" alt="College List Mobile Screenshot"
          class="relative z-10 max-h-[480px] object-contain" />
      </div>

      <!-- Text Content Column -->
      <div>
        <h2 class="text-4xl font-bold mb-4">Plan Your Dream Wedding Setup with Ease</h2>
        <p class="text-lg mb-6">
          With our Tent & Event Collection, you can explore everything you need for your big day—parda/side walls, pipe
          ceilings, carpets, seating, catering essentials, décor, and more. Easily save your favorite items, compare
          options side by side, and discover creative decoration ideas through curated sets and expert suggestions. Stay
          organized and confidently design the perfect celebration—all in one place.
        </p>
        <a href="https://play.google.com/store/apps/details?id=com.dapps.tentbazaar&hl=en_IN" target="_blank"
          class="px-5 py-3 rounded-full btn-orange-1 text-white font-medium">
          Download App
        </a>
      </div>
    </div>
  </div>
</section>