<div class="p-6 bg-gray-100 min-h-screen">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-2xl font-bold mb-6">Employee List</h2>
    <button (click)="openDialog(false,null)" class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 text-sm flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      Add Employee
    </button>
  </div>

  <div class="overflow-x-auto bg-white rounded-xl shadow">
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-gray-100 text-left">
          <th class="p-3">#ID</th>
          <th class="p-3">Name</th>
          <th class="p-3">mobile</th>
          <th class="p-3">role</th>
          <th class="p-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rel of List;let i=index" class="border-b hover:bg-gray-50">
          <td  class="p-3">{{i+1}}</td>
          <td class="p-3">{{rel.name}}</td>
          <td class="p-3">{{rel.mobile}}</td>
          <td class="p-3">{{rel.role}}</td>
          <td class="p-3 space-x-2">
            <button (click)="viewEmployee(rel)" class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 text-sm">View</button>
            <button (click)="openDialog(true,rel)" class="px-3 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600 text-sm">Edit</button>
            <button (click)="openDeleteDialog(rel)" class="px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600 text-sm">Remove</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
