
<div class="flex h-screen">
  <!-- Left Sidebar Tabs -->
  <div class="w-64 bg-gray-900 text-white flex flex-col">
    <!-- Header -->
    <div class="p-6 text-2xl font-bold border-b border-gray-700">
      Admin Login
    </div>

    <!-- Tab Menu -->
    <nav class="flex-1 mt-4 space-y-2">
      <button *ngFor="let tab of tabs; let i = index" (click)="setTab(i);urlRout(tab.label)"
        class="flex items-center gap-3 w-full px-4 py-2 text-left rounded-md transition" [ngClass]="
          activeTab === i
            ? 'bg-gray-800 text-green-400 font-semibold'
            : 'hover:bg-gray-800 hover:text-green-300'
        ">
        <span class="text-xl">{{ tab.icon }}</span>
        <span>{{ tab.label }}</span>
      </button>
    </nav>
  </div>

  <!-- Right Content -->
  <div class="flex-1  bg-white">
    <app-admin-top-nav></app-admin-top-nav>
    <!-- Tab Content -->
    <div class="p-6">
      <router-outlet ></router-outlet>
      <!-- <ng-container [ngSwitch]="activeTab">
        <div *ngSwitchCase="0">
          <app-admin-dashboard></app-admin-dashboard>
        </div>
        <div *ngSwitchCase="1">
          <app-admin-order></app-admin-order>
        </div>
        <div *ngSwitchCase="2">
          <app-admin-users></app-admin-users>
        </div>
        <div *ngSwitchCase="3">
          <app-admin-employee></app-admin-employee>
        </div>
        <div *ngSwitchCase="4">
          <app-admin-products></app-admin-products>
        </div>
        <div *ngSwitchCase="5">
          <app-admin-category></app-admin-category>
        </div>
        <div *ngSwitchCase="6">
          <app-admin-youtube-url></app-admin-youtube-url>
        </div>
        <div *ngSwitchCase="7">
          <app-admin-instagram-url></app-admin-instagram-url>
        </div>
      </ng-container> -->

    </div>
  </div>
</div>