<div class="p-6 bg-gray-100 min-h-screen">
  <div
  class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-6 gap-4"
>
  <h2 class="text-2xl font-bold mb-6">Recent Orders</h2>
    <!-- Right: Actions -->
    <div
      class="flex flex-col sm:flex-row sm:items-center gap-2 w-full sm:w-auto"
    >
      <!-- Search -->
      <input
        type="text"
        placeholder="Search Customer..."
        class="w-full sm:w-64 border rounded-lg p-2 focus:ring focus:ring-green-200"
      />

      <!-- Filter -->
      <select
        class="w-full sm:w-40 border rounded-lg p-2 focus:ring focus:ring-green-200"
        [(ngModel)]="employeeId"
      >
        <option selected value="">All employee</option>
        <option *ngFor="let emp of employeeList" [value]="emp._id">
          {{ emp.name }}
        </option>
        <!-- Add more categories as needed -->
      </select>

      <select
      class="w-full sm:w-40 border rounded-lg p-2 focus:ring focus:ring-green-200"
      [(ngModel)]="StatusValue"
    >
      <option selected value="">All status</option>
      <option *ngFor="let sts of statusList" [value]="sts">{{sts}}</option>
      <!-- Add more categories as needed -->
    </select>

    <button
    class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 text-sm flex items-center gap-2"
    (click)="applyFilyer()"
  >
    Apply Filter
  </button>
    </div>
    </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Order Card -->
      <!-- Order ID and Status on same line -->

    <div
      *ngFor="let order of orderData"
      class="bg-white rounded-xl shadow p-4 hover:shadow-lg transition"
    >
      <div class="flex justify-between items-center mb-2">
        <div class="font-semibold text-gray-800">
          Order #{{ order.orderId }}
        </div>
        <span
          [ngClass]="{
            'bg-gray-600': order.status == 'TO-DO',
            'bg-green-600': order.status == 'Done',
            'bg-red-600': order.status == 'Cancle',
            'bg-orange-600': order.status == 'Hold',

            'bg-yellow-600': order.status == 'In-progress',
          }"
          class="px-2 py-1 rounded-full text-white text-sm"
          >{{ order.status }}</span
        >
      </div>

      <p class="text-gray-700 mb-1">
        <span class="font-medium">Customer:</span> {{ order.buyerId.name }}
      </p>
      <p class="text-gray-700 mb-1">
        <span class="font-medium">Product:</span>
        {{ order.productDetails.length }}
      </p>
      <p class="text-gray-700 mb-1">
        <span class="font-medium">Amount:</span> $00
      </p>
      <p class="text-gray-700 mb-1">
        <span class="font-medium">Order Date :</span>
        {{ order.createdAt | date }}
      </p>

      <div class="flex gap-2 mt-4">
        <button (click)="viewOrder(order)"
          class="flex-1 px-3 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 text-sm"
        >
          View / Edit
        </button>
        <!-- <button
          class="flex-1 px-3 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 text-sm"
        >
          Edit Order
        </button> -->
      </div>
    </div>

</div>
</div>
