<div id="instagramModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-xl shadow-lg w-96 p-6">
      <h3 id="modalTitle" class="text-xl font-semibold mb-4">Add Instagram URL</h3>
  
      <form id="instagramForm">
  
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700 mb-1">Instagram URL</label>
          <input [(ngModel)]="InstaGramUrl" name="instagram" type="url" class="w-full border border-gray-300 rounded-lg p-2 focus:ring focus:ring-pink-200" id="postUrl" placeholder="https://www.instagram.com/...">
        </div>
  
        <div class="flex justify-end space-x-2">
          <button type="button" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 text-sm" (click)="onNoClick()">Cancel</button>
          <button type="submit" (click)="saveClick()" class="px-4 py-2 bg-pink-600 text-white rounded hover:bg-pink-700 text-sm">Save</button>
        </div>
      </form>
    </div>
  </div>